.hashbo-chat {
    .vortex-add-comment-box {
        margin-bottom: 10px;
        width:100%;
        background-color: #eee;
    }

}

.comment-panel {
    margin-top: 16px;
    .span16;
    .gridColumn();

    .comment-entry-panel {
        .transition-height(2000ms);
        .row;
        .clearfix();
        overflow:hidden;

        .comment-entry-user-panel {
            .span1;
            .gridColumn();
        }

        .comment-entry-main {
            .span10;
            .gridColumn();

            .comment-author-fullname-label {
                 font-size:1.2em;
            }
            .comment-author-username-label {
                 font-size:1.1em;
                 color:#aaa;
            }

            .comment-entry-message {
                .span9;
                .gridColumn();
                font-size:16px;
            }

            .comment-entry-details {
                .span9;
                .gridColumn();
                 color:#aaa;
                 font-size:0.9em;
            }

            .comment-author-follow-badge {
                 font-size:0.9em;
            }

        }

    }


}