<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.4">


    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionPath</param-name>
        <param-value>/</param-value>
    </context-param>

    <context-param>
        <!-- max size of the upload request -->
        <param-name>maxSize</param-name>
        <param-value>3145728</param-value>
    </context-param>
    <!--<context-param>-->
    <!--&lt;!&ndash; Useful in development mode to slow down the uploads in fast networks.-->
    <!--Put the number of milliseconds to sleep in each block received in the server.-->
    <!--false or 0, means don't use slow uploads  &ndash;&gt;-->
    <!--<param-name>slowUploads</param-name>-->
    <!--<param-value>200</param-value>-->
    <!--</context-param>-->


    <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>/WEB-INF/applicationContext.xml</param-value>-->
    <!--</context-param>-->
    <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->
    <!--<servlet>-->
    <!--<servlet-name>hashbogwt</servlet-name>-->
    <!--<servlet-class>com.hashbo.server.HashBoServiceImpl</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>hashbogwt</servlet-name>-->
    <!--<url-pattern>/gwt/main</url-pattern>-->
    <!--</servlet-mapping>-->
    <filter>
        <filter-name>Continuations</filter-name>
        <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Continuations</filter-name>
        <servlet-name>DataStoreService</servlet-name>
    </filter-mapping>


    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- <context-param> <param-name>contextClass</param-name> <param-value> org.springframework.web.context.support.AnnotationConfigWebApplicationContext </param-value> </context-param>
<context-param> <param-name>contextConfigLocation</param-name> <param-value>com.mcnz.spring.SimpleConfig</param-value> </context-param>
<listener> <listener-class> org.springframework.web.context.ContextLoaderListener </listener-class> </listener> -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/hashbo-web.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>


    <!--<servlet>-->
    <!--<servlet-name>less</servlet-name>-->
    <!--<servlet-class>com.asual.lesscss.LessServlet</servlet-class>-->
    <!--<init-param>-->
    <!--<param-name>compress</param-name>-->
    <!--<param-value>false</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
    <!--<param-name>cache</param-name>-->
    <!--<param-value>true</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet>-->
    <!--<servlet-name>resource</servlet-name>-->
    <!--<servlet-class>com.asual.lesscss.ResourceServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--<init-param>-->
    <!--<param-name>compress</param-name>-->
    <!--<param-value>false</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
    <!--<param-name>cache</param-name>-->
    <!--<param-value>true</param-value>-->
    <!--</init-param>-->

    <!--</servlet>-->

    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.twitter.auth.signin.SigninServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>callback</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.twitter.auth.signin.CallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.twitter.auth.signin.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>link</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.twitter.auth.signin.LinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>board</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.board.BoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>board-query</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.board.BoardQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.login.LogoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>image-scale</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.ImageScaleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>board-icon</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.board.BoardIconServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>board-icon</servlet-name>
        <url-pattern>/_board-icon</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>image-scale</servlet-name>
        <url-pattern>/_image-scale</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/_logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/_login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>board-query</servlet-name>
        <url-pattern>/_query</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>board</servlet-name>
        <url-pattern>/_board</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>link</servlet-name>
        <url-pattern>/_twitter/link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/_twitter/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>callback</servlet-name>
        <url-pattern>/_twitter/callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/_twitter/register</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>twitter4j.TwitterException</exception-type>
        <location>/_twitter/error.jsp</location>
    </error-page>

    <!--<servlet-mapping>-->
    <!--<servlet-name>less</servlet-name>-->
    <!--<url-pattern>*.less</url-pattern>-->
    <!--</servlet-mapping>-->


    <servlet>
        <servlet-name>DataStoreService</servlet-name>
        <servlet-class>cazcade.vortex.comms.datastore.server.DataStoreServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataStoreService</servlet-name>
        <url-pattern>/_boardcast_gwt/DataStoreService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UUIDService</servlet-name>
        <servlet-class>cazcade.vortex.bus.server.UUIDServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UUIDService</servlet-name>
        <url-pattern>/_boardcast_gwt/UUIDService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <!-- This is the default servlet, it puts files in session -->
        <servlet-class>cazcade.vortex.widgets.server.VortexImageUploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>cazcade.boardcast.Boardcast ScriptService</servlet-name>
        <servlet-class>cazcade.boardcast.server.ScriptServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>cazcade.boardcast.servlet.ImageProxyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>cazcade.boardcast.Boardcast BuildVersionService</servlet-name>
        <servlet-class>cazcade.boardcast.server.BuildVersionServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/_image-service</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/_image-upload</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>cazcade.boardcast.Boardcast ScriptService</servlet-name>
        <url-pattern>/_boardcast_gwt/ScriptService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cazcade.boardcast.Boardcast BuildVersionService</servlet-name>
        <url-pattern>/_boardcast_gwt/BuildVersionService</url-pattern>
    </servlet-mapping>

</web-app>
