<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>VortexService</servlet-name>
        <servlet-class>cazcade.vortex.server.VortexServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VortexService</servlet-name>
        <url-pattern>/Vortex/VortexService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DataStoreService</servlet-name>
        <servlet-class>cazcade.vortex.comms.datastore.server.DataStoreServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataStoreService</servlet-name>
        <url-pattern>/DataStore/DataStoreService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UUIDService</servlet-name>
        <servlet-class>cazcade.vortex.bus.server.UUIDServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UUIDService</servlet-name>
        <url-pattern>/Bus/UUIDService</url-pattern>
    </servlet-mapping>
</web-app>
