<div id="body">
    <p id="greeting">Hi $user.fn</p>

    <div id="message">

        <p>You requested a password change, please click on the link below to confirm and enter your new password when
            prompted.</p>

        <p><a href="$link">$link</a></p>
        <br/>
    </div>
    <div id="signature">
        Enjoy!<br/>
        From the Boardcast Team
    </div>
</div>