<div id="body">
    <p id="greeting">Welcome $user.fn</p>

    <div id="message">

        <p>Welcome to Boardcast, the Internet's Corkboard. Boardcast is all about sharing and showing. You can create boards which
            are very much like corkboards you may have at home or in the office. On these you can write lists of things to do, add
            photos of your family, links to websites you like and so on. As you make changes, so they are visible to others - so you
            can even put them together with friends.</p>

        <p>We're very much an experimental service at the moment, so please bear with us. Please also feel free to email us at
            support@cazcade.com< with ideas, suggestions and bug reports.</p>

        <p>To get started simply click the link below and be one of the first to explore our service: </p>

        <p><a href="$link">$link</a></p>
        <br/>
    </div>
    <div id="signature">
        <p>Enjoy!</p>

        <p>From the Boardcast Team</p>

        <p>
            <small>Boardcast is a product of Cazcade Ltd.</small>
        </p>
    </div>
</div>