<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>cazcade.apps.upload.ImageUploadServlet</servlet-class>
    </servlet>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>cazcade.apps.upload.ImageUploadServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogUploadServlet</servlet-name>
        <servlet-class>cazcade.apps.upload.LogUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogUploadServlet</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>

</web-app>