@import "common.less";
@import "lists.less";


.activity-panel {
    width:540px;
    margin: 0 auto;
    table {
        width:540px;
         tr {
             td .stream-status-update-panel {
                padding: 5px;
                width:500px;
                &:hover {
                    background-color: lighten(@highlightColorLighter, 20%);
                }
                .stream-status-update-user-panel {
                    width:60px;
                }

                .stream-author-icon img {
                    width:48px;
                    height:64px;

                }

                .stream-entry-message {
                    font-size:16px;
                }
            }
            border-bottom: 1px solid #ccc;
         }
    }

}
